.colour_vision_key {
	display: block;
	font-family: "Guardian Text Sans Web", Arial;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 10px;
}

.keyText {
	font-size: 0.8rem;
	margin-top: 5px;
}
.keyDiv {
	display: inline-block;
	margin-left: 10px;
}
.keyDiv .keyCircle:first-of-type {
	margin-left: 0;
}
.keyCircle {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	display: inline-block;
	opacity: 0.8;
}	

.interactive-wrapper {
	width: 100%;
}

.interactive-wrapper .chartTitle h2 {
    box-sizing: border-box;
    font-family:"Guardian Headline Full"
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    color: #121212;
    margin-bottom: 6px;
    margin-left: 5px;
    margin-right: 5px;
}

.interactive-wrapper .row {
    width: 100%;
}