<div class="interactive-container offset">

    {{#settings}}
    <div class="row">

        {{#if title}}
        <div class="choloropleth_title_block">
            <h2>{{title}}</h2>
            <div class="subtitle">{{subtitle}}</div>
        </div>
        {{/if}}
        
        <div id="controls">

            <div class="row">

                {{#if dropdown}}
                <div class="selectorBox col50">
                    
                    <div class="keyText">Currently showing percentage of votes for:</div>

                    <select id="statChooser" value='{{currentIndex}}'>
                        {{#mapping:i}}
                            <option value='{{i}}'>{{display}}</option>
                        {{/mapping}}
                    </select>

                </div>
                {{/if}}
                
                <div class="keyBox col50">

                    <div class="keyText"></div>

                    <div id="keyContainer"></div>

                </div>

                {{#if allParties}}

                <div class="colour_vision_key">
                    <div class="keyDiv">
                        <span class="keyCircle" style="background: #005689"></span> <span class="keyText">Coalition</span>
                    </div>
                    <div class="keyDiv">
                        <span class="keyCircle" style="background: #b51800"></span> <span class="keyText">Labor</span>
                    </div>
                    <div class="keyDiv">
                        <span class="keyCircle" style="background: #298422"></span> <span class="keyText">Greens</span>
                    </div>
                    <div class="keyDiv">
                        <span class="keyCircle" style="background: #e6711b"></span> <span class="keyText">Centre Alliance</span>
                    </div>
                    <div class="keyDiv">
                        <span class="keyCircle" style="background: #ff9b0b"></span> <span class="keyText">Katter Australia Party</span>
                    </div>
                    <div class="keyDiv">
                        <span class="keyCircle" style="background: #cd34b5"></span> <span class="keyText">One Nation</span>
                    </div>
                    <div class="keyDiv">
                        <span class="keyCircle" style="background: #5623ce"></span> <span class="keyText">Independent</span>
                    </div>

                </div>

                {{/if}}


            </div>

        </div>

    </div>

    <div id="mapContainer-voronoi">
            <div id="map-voronoi"></div>
    </div>

    <div class="row notes">

        {{#if footnote}}
            <h2>Notes</h2>
            <div class="row">
                {{{footnote}}}
            </div>
        {{/if}}

        {{#if source}}
            <div class="row">
                <small>Source: {{{source}}}</small>
            </div>
        {{/if}}

    </div>

    {{/settings}}
</div>