@import "mq";

#choloropleth {

	background: #FFF;
	border-top: 0.0625rem solid #dcdcdc;
	border-bottom: 0.0625rem solid #dcdcdc;

	iframe {
		display:none!important;
	}

	.info {
		padding: 6px 8px;
		font: 14px/16px Arial, Helvetica, sans-serif;
		background: white;
		background: rgba(255, 255, 255, 0.8);
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
		border-radius: 5px;
	}

	.info h4 {
		margin: 0 0 5px;
		color: #777;
	}

	$loader--width: 250px;
	$loader-dot--size: 20px;

	.container {
		height: 100vh;
		width: 100vw;
		font-family: Helvetica;
		position: relative;
	}

	.loader {
		height: $loader-dot--size;
		width: $loader--width;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		font-family: "Guardian Headline Full",Georgia,serif;

		&--dot {
			animation:loader ease-in-out 3s infinite;
			height: $loader-dot--size ;
			width: $loader-dot--size ;
			border-radius: 100%;
			background-color: #525a66;
			position: absolute;
			border: 2px solid white;

			&:first-child {
			  background-color: #005689;
			  animation-delay: 0.5s;
			}

			&:nth-child(2) {
			  background-color: #b51800;
			  animation-delay: 0.4s;
			}

			&:nth-child(3) {
			  background-color: #298422;
			  animation-delay: 0.3s;
			}

			&:nth-child(4) {
			  background-color: #ff9b0b;
			  animation-delay: 0.2s;
			}

			&:nth-child(5) {
			  background-color: #e6711b;
			  animation-delay: 0.1s;
			}

			&:nth-child(6) {
			  background-color: #cd34b5;
			  animation-delay: 0s;
			}

		}

		&--text {
			position: absolute;
			top: 200%;
			left: 0;
			right: 0;
			width: 4rem;
			margin: auto;

			&:after {   
				content: "Loading";
				color: black;
			  	font-weight: bold;
			  	animation: loading-text 3s infinite;
			}
		}
		
	}
	    
	@keyframes loader {
	  15% {transform: translateX(0);}
	  45% {transform: translateX( $loader--width - $loader-dot--size );}
	  65% {transform: translateX( $loader--width - $loader-dot--size );}
	  95% {transform: translateX(0);}
	}

	@keyframes loading-text {
	  0% {
	    content: "Loading";
	  }
	  25% {
	    content: "Loading.";
	  }
	  50%{
	    content: "Loading..";
	  }
	  75%{
	    content: "Loading...";
	  }
	}

	h2 {
		font-family: "Guardian Headline Full",Georgia,serif;
		font-size:20px;
	}

	#mapContainer-voronoi {
		position: relative; 
		width:100%;
		min-height:300px;
	}

	#map-voronoi {
		width: 100%;
		height: 600px;
	}

	#controls {
		margin-top: 10px;
	}

	.sa2:hover {
		opacity:0.8;
	}	

	.graticule {
		fill: none;
		stroke: #efefef;
		stroke-opacity:1;
	}

	.mesh {
		fill: none;
  		stroke: #bdbdbd;
	}
	
	.notes {
		font-family: 'Guardian Text Sans Web',Arial;
		font-size:0.9rem;
		color:#767676;
	}

	.subtitle {
		font-family: 'Guardian Text Sans Web',Arial;
		color:#767676;
		margin-bottom: 15px;
	}

	.keyText {
		font-family: 'Guardian Text Sans Web',Arial;
		font-weight: bold;
		font-size:14px;
		margin-bottom:10px;
	}

	.placeText {
		font-family: 'Guardian Text Sans Web',Arial;
		fill: #000000;
	}

	.keyLabel {
		font-family: 'Guardian Text Sans Web',Arial;
		font-size:10px;
		fill:#767676;
	}

	#statusMessage {
		position: absolute;
		top:20%;
		left:49%;
		pointer-events: none;
	}

	.zoomButtons {
		width:25px;
		height:25px;
		border-radius: 25px;
		font-size:25px;
		line-height:25px;
		background-color: #bdbdbd;
		text-align: center;
		cursor: pointer;
		font-weight: bold;
		color:#FFFFFF;
	}

	.zoomLocked {
		background-image:url('assets/imgs/locked.svg');
	}

	.zoomUnlocked {
		background-image:url('assets/imgs/unlocked.svg');
	}

	#zoomIn {
		position: absolute;
		top:20px;
		left:2%;
	}

	#zoomOut {
		position: absolute;
		top:50px;
		left:2%;

	}

	#zoomToggle {
		position: absolute;
		top:80px;
		left:2%;
		background-size: 20px 20px;
  		background-repeat: no-repeat;
  		background-position:49% 49%;
	}

	.btn {
		width:auto;
		margin-left:5px; 		
		border-radius: 16px;
		text-align: center;
		padding: 5px 10px;
		line-height:1em; 
		font-family: "Guardian Agate Sans", Arial, sans-serif;
		overflow:hidden;
		color: #FFFFFF;
		background-color: #bdbdbd;
		display: inline-block;
	}

	.col50 {
		float:left;
		width:48%;
		margin-left:1%; 
	}

	.col33 {
		float:left;
		width:32%;
		margin-left:1%; 
	}

	.row {
		margin-bottom:5px; 
	}

	.row:after {
		content: " "; /* Older browser do not support empty content */
		visibility: hidden;
		display: block;
		height: 0;
		clear: both;
	}

	.main-col {
		max-width: 38.75rem;
		margin-left:1.25rem; 
		position: relative;
		display: block;
		float: none;
	}

	@media (max-width: 1140px) {
		.main-col {
			margin-left:0;
		}  
	}

	@media (min-width: 1140px) {
		.main-col {
			margin-left:8.25rem;
			width:560px;
			float: left;
		}  
	}

	@media (min-width: 1300px) {
		.main-col {
			margin-left: 13.25rem;
			width:640px;
			float: left;
		} 
	}


	@media (max-width: 600px) {

		.col10, .col20, .col30,.col40, .col50, .col60, .col70, .col80, .col90 {
			width:100%;
			margin:0;
		}

	}

	#statChooser {
		opacity:1;
		margin-bottom:10px;
		float:left;
		max-width:250px;
	}

	#keyContainer {
		float: left;
	}

	.tooltip {
		background: #FFFFFF;
		max-width:200px;
		font-family: 'Guardian Text Sans Web',Arial;
		padding:10px;
		pointer-events: none;
		border: 2px #000 solid;
	}	

	.circles {
		fill: #3c373d;
	}

	.mapArea:hover {
		opacity:0.8;
	}

	.labels {

		font-size: 12px;
		pointer-events: none;

		@media (max-width: 600px) {
			font-size: 10px;
		}

		font-family: sans-serif;
		fill: #3c373d;
		text-shadow:
		    -1px -1px 0 #FFF,
		     0   -1px 0 #FFF,
		     1px -1px 0 #FFF,
		     1px  0   0 #FFF,
		     1px  1px 0 #FFF,
		     0    1px 0 #FFF,
		    -1px  1px 0 #FFF,
		    -1px  0   0 #FFF;
	}

	.colour_vision_key {

		display: block;

		.keyText {
			font-size: 0.8rem;
			margin-top: 5px;
		}
		.keyDiv {
			display: inline-block;
			margin-left: 10px;
		}
		.keyDiv .keyCircle:first-of-type {
			margin-left: 0;
		}
		.keyCircle {
			width: 12px;
			height: 12px;
			border-radius: 50%;
			display: inline-block;
			opacity: 0.8;
		}	
	}

	.leaflet-control-container a {
	    color: black;
	}

}